.panel-one{
  position: relative;
  overflow: hidden;
  background-color: #262E3E;
  color: #E1EBFF;


  .inner{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    .header{
      display: flex;
      justify-content: space-between;
      border-bottom: $border-bottom-dark;
      h5.b-name{
        font-size: 24px;
        margin: 0;
        padding: 0;
      }
    }
    .listings{
      position: relative;
      height: 100%;
      .content{
        box-sizing: border-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        transition: background .3s ease-out .1s;
        width: 100%;
        z-index: 100;
        &.with-padding{
          padding: 10px;
        }
      }
    }


    .business{
      .list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        &:hover{
          background-color:#222b3a;
          cursor: pointer;
        }
        .icon{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #4A90E2;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }
        .title{
          margin: 0;
          padding: 0;
          flex:1;
        
          white-space: nowrap; 
          width: 120px; 
          overflow: hidden;
          text-overflow: ellipsis; 
        }
      } 
      .dept-list{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        &:hover{
          background-color:#222b3a;
          cursor: pointer;
        }
        &.selected{
          background-color: #3A465B;
        }
        &.title{
          font-size: 15px;
          font-weight: 100 !important;
        }
      }
      .dept.hide{
        display: none;
      }
    }
    .business-listing {
      .listing-title{
        padding: 10px 10px 10px;
        border-bottom: 1px solid #5c5b5b;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &h5{
          padding: 0;
          margin: 0;
          font-size: 14px;
        }
      }
      .seller.listing-title{
        border-top: 1px solid #5c5b5b;
        margin: 10px 0;
      }
    }
  }


}








